
---
interface Props {
  source: string,
  href: string,
  isExternal?: boolean,
}

const { source, href } = Astro.props
---


<a href={href} class="gap-x-2 text-lg font-semibold flex items-center text-link hover:text-link-hover">
  <p class="underline underline-offset-2">{source}</p>
  <!-- {!isExternal ? <svg class="size-4" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"> -->
  <!--   <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path> -->
  <!-- </svg> : null} -->
</a>
