@import "tailwindcss";

@theme {
  --background: #1e1e2e;
  --text: #cdd6f4;
  --secondary: #f9e2af;
  --muted-text: #bac2de;
  --accent: #a6e3a1;
  --border: #313244;

  --link: #a6e3a1;
  --link-hover: #c3e8b5;
  --green-accent: #a6e3a1;
  --muted: #bac2de;
  --divider: #45475a;
}

.white {
  @apply bg-white
}
