@import "tailwindcss";

@theme {
  --color-background: #1e1e2e;
  --color-text: #cdd6f4;
  --color-muted-text: #bac2de;
  --color-secondary: #f9e2af;
  --color-accent: #a6e3a1;
  --color-border: #45475A;

  --color-link: #a6e3a1;
  --color-link-hover: #c3e8b5;
  --color-green-accent: #a6e3a1;
  --color-muted: #bac2de;
  --color-divider: #45475a;
}

